{% extends 'base.html.twig' %}
    {% block title %}
        Accueil
    {% endblock %}
    {% block body %}
        <div class="container">
            <div class="jumbotron mt-3">
                <h1 class="display-3">Bienvenue sur MelodieWeb !</h1>
                <p class="lead">Nous mettons en relations les voyageurs et les proprietaires qui veulent profiter d'opportunités et gagner de l'argent en proposant leur bien a la location .</p>
                <hr class="my-4">
                <p>Vous êtes voyageur ? Et vous voulez voir où vous pourrez loger pour votre prochain déplacement ?</p>
                <p class="lead">
                    <a class="btn btn-success btn-lg" href="#" role="button">Voir nos annonces</a>
                </p>
            </div>
            <h2 class="text-center">NOS APPARTEMENTS START</h2>
            <div class="row mt-4">
                <div class="col-md-4">
                    <div class="card bg-light mb-3">
                        <div class="card-header text-center">
                            2 chambres, <strong>70&euro; / nuit</strong> <br>
                            <small>Pas encors noté</small>
                        </div>     
                        <img src="https://placehold.it/1000x400" style="height: 200px; width: 100%; display: block">
                        <div class="card-body">
                            <h4 class="card-title">
                               Appertement de Melodie
                            </h4>
                            <p class="card-text">
                                Quo porro ipsum dignissimos dolores rerum qui. Est numquam consequatur omnis eveniet.
                            </p>
                            <a href="#" class="btn btn-success">En savoir plus !</a>
                        </div>
                    </div>
                </div> 
                <div class="col-md-4">
                    <div class="card bg-light mb-3">
                        <div class="card-header text-center">
                            4 chambres, <strong>120&euro; / nuit</strong> <br>
                            <small>Pas encors noté</small>
                        </div>     
                        <img src="https://placehold.it/1000x400" style="height: 200px; width: 100%; display: block">
                        <div class="card-body">
                            <h4 class="card-title">
                               Appertement de Phat
                            </h4>
                            <p class="card-text">
                                Quo porro ipsum dignissimos dolores rerum qui. Est numquam consequatur omnis eveniet.
                            </p>
                            <a href="#" class="btn btn-success">En savoir plus !</a>
                        </div>
                    </div>
                </div> 
                <div class="col-md-4">
                    <div class="card bg-light mb-3">
                        <div class="card-header text-center">
                            3 chambres, <strong>60&euro; / nuit</strong> <br>
                            <small>Pas encors noté</small>
                        </div>     
                        <img src="https://placehold.it/1000x400" style="height: 200px; width: 100%; display: block">
                        <div class="card-body">
                            <h4 class="card-title">
                               Appertement de Diaz
                            </h4>
                            <p class="card-text">
                                Quo porro ipsum dignissimos dolores rerum qui. Est numquam consequatur omnis eveniet.
                            </p>
                            <a href="#" class="btn btn-success">En savoir plus !</a>
                        </div>
                    </div>
                </div> 
            </div>
            <h2 class="text-center">NOS PROPRIETAIRES START</h2>
            <div class="row mt-4">
                <div class="col">
                    <div class="card border-secondary mb-3">
                        <div class="card-body">
                            <h4 class="card-title">Melodie Magda</h4>
                            <hr>
                            <div class="card-text">
                                <img src="https://placehold.it/75x75"  class="float-left mr-3">
                                <p>Nemo laborum dolorem esse laborum aspernatur enim sapiente.</p>
                                <a href="/user/jacques-legros" class="btn btn-success float-right">En savoir plus!</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-secondary mb-3">
                        <div class="card-body">
                            <h4 class="card-title">Josephat</h4>
                            <hr>
                            <div class="card-text">
                                <img src="https://placehold.it/75x75"  class="float-left mr-3">
                                <p>Nemo laborum dolorem esse laborum aspernatur enim sapiente.</p>
                                <a href="/user/jacques-legros" class="btn btn-success float-right">En savoir plus!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    {% endblock %}
